.cabecalho{
    box-shadow: 10px 50px 50px rgb(0 0 0 / 15%);
    margin: auto;
    padding: auto;
    background-color:#292C2F;
    font-weight: bold;
    font-size: 30px;   
    height: 80px;
    
}
.titulorosa{
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    margin-top: 100px;
    
}
.P{
    margin-left: 40px;
    color: hotpink;  
     
}
.M{
    color: white;
}

.Menu{
    list-style:none;
    float:right;
    
}
.Menu li{
    position:relative;
    margin-top: 15px;
    float:left  ;
    text-decoration: none;
}
.Menu {
    margin-right: 6%;
    display: flex;
    cursor: pointer;
}


nav {
    display: flex;
}

.Menu {
    margin-right: 6%;
    display: flex;
    cursor: pointer;
}

.linkMenu{
    text-decoration:none;
    margin: 20px;
}

.linkMenu li:hover{
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255);

}
 
a:hover{
    color:hotpink;
    height: 3px;
    background-color: #444;
    transition: all ease-in-out 250ms;
    top: 0;
    content: '';
}
.linkMenu {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.linkMenu:hover {
    border-top-color: hotpink;
}

body{
    font-family: arial, helvetica, sans-serif;
    background-color: #FCE5ED;
}


.rodape {
    font-family: arial, helvetica, sans-serif;
    background-color: #292C2F;
    color: white;
    text-align: center;
    position: relative;
    bottom:0;
    width: 100%;
    height: 35px;
    left: 0;
}

@media (max-width: 768px) {

    .cabecalho{
        box-shadow: 5px 25px 25px rgb(0 0 0 / 15%);
        margin: auto;
        padding: auto;
        background-color:#292C2F; 
        font-size: 15px;   
        height: 65px;
        }
    
    .titulorosa{
        position: relative;
         margin-top: 20px;
        font-weight: bold;
        font-size: 22px;
        display: inline;
        margin-top: 100px;
            
        }
    .P{
        margin-left: 20px;
        color: hotpink;  
             
        }

    .M{
        color: white;
        }
        
    .Menu{
        list-style:none;
        float:right;
            
        }
    .Menu li{
        position:relative;
        margin-top: 15px;
        float:left  ;
        text-decoration: none;
        }

    .Menu {
        margin-right: 3%;
        display: flex;
        cursor: pointer;
        }



    .itens {
        float: right;
         font-size: 30px;
    }

    p {
        font-size: 30px;
    }

    .rodape {
        font-family: arial, helvetica, sans-serif;
        background-color: #292C2F;
        color: white;
        text-align: center;
        position: relative;
        bottom:0;
        width: 100%;
        height: 25px;
        left: 0;
    }
}

  
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #444;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #444;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
